<li>
  {{#link-to 'rental' rental.id}}{{rental.owner}}'s
  <br> {{rental.type}} in {{rental.city}} Worth {{rental.cost}}/month {{/link-to}}
  {{#if isImageShowing}}
    <p><img src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Image</button>
  {{/if}}
</li>
